In [1]:
#!/usr/bin/python
# -*- coding: utf-8 -*-

"""
Load Customer data into Aerospike

"""

# Import libraries

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import pandas as pd
import aerospike
import json

print(__doc__)

def load_data():
            
    # Read input dataset using pandas
    data = pd.read_excel("/home/azureuser/Aerospike/data/customer/customer details.xls")
    
    # Drop serial number from csv file    
    #data = data.drop([data.columns[0]], axis=1)
    
    # Select numeric data alone from data object
    numeric_data = data.loc[:, data.dtypes != object]
    
    # Select string data alone from data object to trim
    trim_data = data.select_dtypes(['object'])
    
    # Trim all string objects
    trim_data = trim_data.apply(lambda x: x.str.strip())
    
    #Merge numeric and string data in to data object
    data = pd.concat([numeric_data, trim_data], axis=1)
    
    #Split dataframe into key and records
    key = data['cust_id']
    
    record_json = data.to_dict(orient='records')
    
    config = {
      'hosts': [ ('127.0.0.1', 3000) ]
    }

    # Create a client and connect it to the cluster
    try:
        client = aerospike.client(config).connect()
    except:
        import sys
        print("failed to connect to the cluster with", config['hosts'])
        sys.exit(1)
    
    # Records are addressable via a tuple of (namespace, set, key)
    for pk, bin in zip(key, record_json):
        string = "('dev', 's1bd', "
        string +=`pk`
        string = string + ")"
        
        from ast import literal_eval as make_tuple
        string = make_tuple(string)
        
        try:
            client = aerospike.client(config).connect()
            # Write a record
            client.put(string, bin)
        except Exception as e:
            import sys
            print("error: {0}".format(e), file=sys.stderr)

        # Read a record after insert for verification
        (key, metadata, record) = client.get(string)
        print (key, record)
        
        # Close the connection to the Aerospike cluster
        client.close()

if __name__ == '__main__':
    load_data()

Load Customer data into Aerospike


('dev', 's1bd', None, bytearray(b'\nH\xfe\xe18\x05b\xceD\x1a\tt;L\x9f\xf0W\x92\xb3\xc0')) {'Child2_d_o_b': nan, 'SSN_NO': '65-65-3156', 'First_name': 'Quatasia', 'Last_name': 'LOWE', 'designation': 'CTO', 'Credit_rating': 571, 'Gender': 'F', 'Marital_Sts': 'Separated', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1950-02-01 00:00:00'), 'spouse_d_o_b': Timestamp('1984-10-21 00:00:00'), 'Date_of_birth': Timestamp('1982-10-21 00:00:00'), 'cust_id': 2396305636, 'Child1_name': 'Lillian', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\xc4\x95\xd7\\\xfb*""j\x17\xa4\xb0\xac\xa0\xb0(F\x13\xf7\\')) {'Child2_d_o_b': nan, 'SSN_NO': '95-95-1076', 'First_name': 'Elia', 'Last_name': 'CROSS', 'designation': 'CEO', 'Credit_rating': 502, 'Gender': 'M', 'Marital_Sts': 'Divorced', 'Job_type': 'Business', 'Spouse_name': 'Abril', 'Child1_d_o_b': Timestamp('1950-01-10 00:00:00'), 'spouse_d_o_b': Timestamp('1986-02-07 00:00:00'), 'Date_of_birth': Timestamp('1988-02-07 00:00:00'), 'cust_id': 84711641, 'Child1_name': 'Sarah', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b"G\x9a\xd2\xad\x950\xb6\xbc\x87\xf5j\\\'=2zz9\xd5\x8d")) {'Child2_d_o_b': nan, 'SSN_NO': '15-15-2405', 'First_name': 'Mardy', 'Last_name': 'MONTES', 'designation': 'Doctor', 'Credit_rating': 546, 'Gender': 'M', 'Marital_Sts': 'Married', 'Job_type': 'Government', 'Spouse_name': 'Yamileth', 'Child1_d_o_b': Timestamp('1950-02-26 00:00:00'), 'spouse_d_o_b': Timestamp('1992-02-22 00:00:00'), 'Date_of_birth': Timestamp('1994-02-22 00:00:00'), 'cust_id': 1561684799, 'Child1_name': 'May', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\xcc\x9e\x0fs\xcci\xc4\x07RR:)D\x94&\xb5\xe2\xc0\xce\xcb')) {'Child2_d_o_b': nan, 'SSN_NO': '36-36-9105', 'First_name': 'Elisandro', 'Last_name': 'TODD', 'designation': 'Cardiologist', 'Credit_rating': 770, 'Gender': 'M', 'Marital_Sts': 'Separated', 'Job_type': 'Professional', 'Spouse_name': 'Stevie', 'Child1_d_o_b': Timestamp('1950-01-28 00:00:00'), 'spouse_d_o_b': Timestamp('1985-05-07 00:00:00'), 'Date_of_birth': Timestamp('1987-05-07 00:00:00'), 'cust_id': 9006719754, 'Child1_name': 'Edith', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\xa51\xee \xd4\xa3\xe2\x884\x07|\x8dp!\xd0\x13\xee\xa5\x90J')) {'Child2_d_o_b': nan, 'SSN_NO': nan, 'First_name': 'Lyndell', 'Last_name': 'PARSONS', 'designation': 'Anesthesiologist', 'Credit_rating': 618, 'Gender': 'F', 'Marital_Sts': 'Single', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': NaT, 'spouse_d_o_b': Timestamp('1972-05-20 00:00:00'), 'Date_of_birth': Timestamp('1970-05-20 00:00:00'), 'cust_id': 3947774146, 'Child1_name': nan, 'No_of_child': 0, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'8@ \x18\xd4\x180\xcfy,\xb4\x0f\xd8\x1a\xab\x08\xad\x88Z\x84')) {'Child2_d_o_b': nan, 'SSN_NO': '44-44-2805', 'First_name': 'Retta', 'Last_name': 'LUCAS', 'designation': 'CFO', 'Credit_rating': 560, 'Gender': 'F', 'Marital_Sts': 'Married', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1950-01-25 00:00:00'), 'spouse_d_o_b': Timestamp('1965-12-05 00:00:00'), 'Date_of_birth': Timestamp('1963-12-05 00:00:00'), 'cust_id': 2006085121, 'Child1_name': 'Gertrude', 'No_of_child': 2, 'Child2_name': 'Gertrude'}
('dev', 's1bd', None, bytearray(b'lq9g\xd9\xdfv\x02\xcf\xd2\xe7\x14\x83F[\xe3\xc7\xf630')) {'Child2_d_o_b': nan, 'SSN_NO': '61-61-2716', 'First_name': 'Lue', 'Last_name': 'CHOI', 'designation': 'Professor', 'Credit_rating': 557, 'Gender': 'M', 'Marital_Sts': 'Divorced', 'Job_type': 'Professional', 'Spouse_name': 'Hayden', 'Child1_d_o_b': Timestamp('1950-02-27 00:00:00'), 'spouse_d_o_b': Timestamp('1952-04-26 00:00:00'), 'Date_of_birth': Timestamp('1954-04-26 00:00:00'), 'cust_id': 1907459679, 'Child1_name': 'Mamie', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\x0e\x87\x92oxyp\x08\xe0\xa7\x16\x12\x9cahS\x0b\xb8\xe3\x1d')) {'Child2_d_o_b': nan, 'SSN_NO': '24-24-3158', 'First_name': 'Nolan', 'Last_name': 'SPENCE', 'designation': 'Chief Architect', 'Credit_rating': 571, 'Gender': 'M', 'Marital_Sts': 'Single', 'Job_type': 'Professional', 'Spouse_name': 'Serenity', 'Child1_d_o_b': NaT, 'spouse_d_o_b': Timestamp('1993-02-11 00:00:00'), 'Date_of_birth': Timestamp('1995-02-11 00:00:00'), 'cust_id': 2398850356, 'Child1_name': nan, 'No_of_child': 0, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b"p\x11\\\xe6\xeey\x89\xdc\'\xc4\xf0\xdc\xa6 Z^3\xaeTH")) {'Child2_d_o_b': nan, 'SSN_NO': '87-87-8637', 'First_name': 'Erasmo', 'Last_name': 'SPEARS', 'designation': 'CEO', 'Credit_rating': 754, 'Gender': 'M', 'Marital_Sts': 'Single', 'Job_type': 'Business', 'Spouse_name': 'Presley', 'Child1_d_o_b': Timestamp('2021-10-06 00:00:00'), 'spouse_d_o_b': Timestamp('1990-10-06 00:00:00'), 'Date_of_birth': Timestamp('1992-10-06 00:00:00'), 'cust_id': 8486613847, 'Child1_name': 'Rose', 'No_of_child': 2, 'Child2_name': 'Rose'}
('dev', 's1bd', None, bytearray(b"u\x9c\x0bO\xcek\xd2\x04>Bq\xd6\xc7E\xed\x9f\'\x13IM")) {'Child2_d_o_b': nan, 'SSN_NO': '69-69-4775', 'First_name': 'Leslie', 'Last_name': 'HANSON', 'designation': 'Managing Director', 'Credit_rating': 625, 'Gender': 'M', 'Marital_Sts': 'Married', 'Job_type': 'Business', 'Spouse_name': 'Anastasia', 'Child1_d_o_b': Timestamp('1950-03-14 00:00:00'), 'spouse_d_o_b': Timestamp('1951-08-05 00:00:00'), 'Date_of_birth': Timestamp('1953-08-05 00:00:00'), 'cust_id': 4195354888, 'Child1_name': 'Harriet', 'No_of_child': 2, 'Child2_name': 'Harriet'}
('dev', 's1bd', None, bytearray(b'eGO\xe3\x0e\x02\x9fcM\xed_\\\x18aj\t\x8b\xe8|\x9e')) {'Child2_d_o_b': nan, 'SSN_NO': nan, 'First_name': 'Flor', 'Last_name': 'OLSON', 'designation': 'Neurologist', 'Credit_rating': 765, 'Gender': 'M', 'Marital_Sts': 'Widowed', 'Job_type': 'Professional', 'Spouse_name': 'Giuliana', 'Child1_d_o_b': NaT, 'spouse_d_o_b': Timestamp('1988-12-16 00:00:00'), 'Date_of_birth': Timestamp('1990-12-16 00:00:00'), 'cust_id': 8833668145, 'Child1_name': nan, 'No_of_child': 0, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\x80~\xba\x02\x9a\xae\x00\xad\x0c\xe1F\t\xab\xd8@\xbe\xd6l\x8bV')) {'Child2_d_o_b': nan, 'SSN_NO': '86-86-2883', 'First_name': 'Paulla', 'Last_name': 'SIMS', 'designation': 'CEO', 'Credit_rating': 562, 'Gender': 'F', 'Marital_Sts': 'Single', 'Job_type': 'Business', 'Spouse_name': nan, 'Child1_d_o_b': NaT, 'spouse_d_o_b': Timestamp('1991-06-22 00:00:00'), 'Date_of_birth': Timestamp('1989-06-22 00:00:00'), 'cust_id': 2093269256, 'Child1_name': nan, 'No_of_child': 0, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\xeeW\x0e\xe4\xb9\xe7\xce\x84"[\x02w\x16\x1e\xaeA\xa7w\xbf\xf1')) {'Child2_d_o_b': nan, 'SSN_NO': '20-20-5434', 'First_name': 'Jovita', 'Last_name': 'FLOWERS', 'designation': 'CEO', 'Credit_rating': 647, 'Gender': 'F', 'Marital_Sts': 'Single', 'Job_type': 'Business', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('2017-01-03 00:00:00'), 'spouse_d_o_b': Timestamp('1990-01-03 00:00:00'), 'Date_of_birth': Timestamp('1988-01-03 00:00:00'), 'cust_id': 4927435058, 'Child1_name': 'Cora', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b"\'\xb09t\xe7E\x05n\xc02\xd4\x11\xd5Kj\\\xc7\xed\xb88")) {'Child2_d_o_b': nan, 'SSN_NO': '13-13-1218', 'First_name': 'Shloma', 'Last_name': 'LE', 'designation': 'CEO', 'Credit_rating': 507, 'Gender': 'M', 'Marital_Sts': 'Divorced', 'Job_type': 'Business', 'Spouse_name': 'Michaela', 'Child1_d_o_b': Timestamp('1950-01-02 00:00:00'), 'spouse_d_o_b': Timestamp('1970-07-07 00:00:00'), 'Date_of_birth': Timestamp('1972-07-07 00:00:00'), 'cust_id': 242339097, 'Child1_name': 'Anna', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\x1b\xc1\x12\xff\xe0\x80\xb4\x13\xef<Qa}\x92N:n}\x9c\xf1')) {'Child2_d_o_b': nan, 'SSN_NO': '35-35-6770', 'First_name': 'Graciana', 'Last_name': 'BRADFORD', 'designation': 'CEO', 'Credit_rating': 692, 'Gender': 'F', 'Marital_Sts': 'Divorced', 'Job_type': 'Business', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1950-03-03 00:00:00'), 'spouse_d_o_b': Timestamp('1974-07-01 00:00:00'), 'Date_of_birth': Timestamp('1972-07-01 00:00:00'), 'cust_id': 6412160291, 'Child1_name': 'Nancy', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\xc34\xa5\xaf\xc9\xcdR\x1f\x99\xcdw7\xb7\xa5\x0c\xde\x13X+y')) {'Child2_d_o_b': nan, 'SSN_NO': '73-73-4224', 'First_name': 'Thornton', 'Last_name': 'FRANCO', 'designation': 'CEO', 'Credit_rating': 607, 'Gender': 'M', 'Marital_Sts': 'Separated', 'Job_type': 'Business', 'Spouse_name': 'Sage', 'Child1_d_o_b': NaT, 'spouse_d_o_b': Timestamp('1963-03-19 00:00:00'), 'Date_of_birth': Timestamp('1965-03-19 00:00:00'), 'cust_id': 3583260108, 'Child1_name': nan, 'No_of_child': 0, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b"s\x96\x9b\xefC\x1a+Wy\xc9\xc1u\xfe\x10\x1d\xf7\xa0\xf7\'2")) {'Child2_d_o_b': nan, 'SSN_NO': '25-25-2807', 'First_name': 'Sidney', 'Last_name': 'HARRISON', 'designation': 'Gynecologist', 'Credit_rating': 560, 'Gender': 'F', 'Marital_Sts': 'Married', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1950-02-06 00:00:00'), 'spouse_d_o_b': Timestamp('1964-05-06 00:00:00'), 'Date_of_birth': Timestamp('1962-05-06 00:00:00'), 'cust_id': 2009007839, 'Child1_name': 'Louise', 'No_of_child': 2, 'Child2_name': 'Louise'}
('dev', 's1bd', None, bytearray(b'\xcf\xdc\x08!y\x0f691\xc1\x85\xc68\xde\x1b\xaa^\x11\xc7\t')) {'Child2_d_o_b': nan, 'SSN_NO': '88-88-8313', 'First_name': 'Charnell', 'Last_name': 'OWENS', 'designation': 'Professor', 'Credit_rating': 743, 'Gender': 'F', 'Marital_Sts': 'Divorced', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1950-01-30 00:00:00'), 'spouse_d_o_b': Timestamp('1972-01-08 00:00:00'), 'Date_of_birth': Timestamp('1970-01-08 00:00:00'), 'cust_id': 8126984299, 'Child1_name': 'Rose', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\x8c\x83\x99\xd6h\x0c_4\xda\x182\x11\x1f\xfc\xc3Hqj\xe4\x16')) {'Child2_d_o_b': nan, 'SSN_NO': '87-87-3709', 'First_name': 'Dannie', 'Last_name': 'MOORE', 'designation': 'Administrator', 'Credit_rating': 590, 'Gender': 'F', 'Marital_Sts': 'Separated', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1950-01-12 00:00:00'), 'spouse_d_o_b': Timestamp('1989-10-21 00:00:00'), 'Date_of_birth': Timestamp('1987-10-21 00:00:00'), 'cust_id': 3010547079, 'Child1_name': 'Clara', 'No_of_child': 2, 'Child2_name': 'Clara'}
('dev', 's1bd', None, bytearray(b'_\xd0\xc8\xb2\xdf\x15\\\x0c\xc6\xf1w\xd3\xe3o\x86\xc7\xa6\xfc\xe0*')) {'Child2_d_o_b': nan, 'SSN_NO': '14-14-4343', 'First_name': 'Lugene', 'Last_name': 'HOBBS', 'designation': 'CEO', 'Credit_rating': 611, 'Gender': 'M', 'Marital_Sts': 'Single', 'Job_type': 'Business', 'Spouse_name': 'Scarlette', 'Child1_d_o_b': NaT, 'spouse_d_o_b': Timestamp('1979-08-15 00:00:00'), 'Date_of_birth': Timestamp('1981-08-15 00:00:00'), 'cust_id': 3715310229, 'Child1_name': nan, 'No_of_child': 0, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\x97\xe4\xf6\xa4\xcb\x99\xc6h\xb7\x8c\x92\xdc\x13\xe0K)\xf3\x95\x0b\n')) {'Child2_d_o_b': nan, 'SSN_NO': '81-81-8675', 'First_name': 'Luberta', 'Last_name': 'MORA', 'designation': 'Managing Director', 'Credit_rating': 755, 'Gender': 'F', 'Marital_Sts': 'Single', 'Job_type': 'Business', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('2015-08-22 00:00:00'), 'spouse_d_o_b': Timestamp('1988-08-22 00:00:00'), 'Date_of_birth': Timestamp('1986-08-22 00:00:00'), 'cust_id': 8529245634, 'Child1_name': 'Nettie', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\x0c\xa4@\x15\xc1\xf4\xaf_\x02\xf7\xfe\x7f\xd7\xb8^6\x06\x94\x06\xf6')) {'Child2_d_o_b': nan, 'SSN_NO': '79-79-9071', 'First_name': 'Jeanny', 'Last_name': 'FOSTER', 'designation': 'Neurologist', 'Credit_rating': 769, 'Gender': 'F', 'Marital_Sts': 'Separated', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1950-02-13 00:00:00'), 'spouse_d_o_b': Timestamp('1978-05-03 00:00:00'), 'Date_of_birth': Timestamp('1976-05-03 00:00:00'), 'cust_id': 8969745570, 'Child1_name': 'Lucy', 'No_of_child': 2, 'Child2_name': 'Lucy'}
('dev', 's1bd', None, bytearray(b'BlA\xcd\xe4\xe1(@\xb0?\xab\xc2\xeb\x1e\xfav:\xa52|')) {'Child2_d_o_b': nan, 'SSN_NO': '54-54-4555', 'First_name': 'Jere', 'Last_name': 'ROLLINS', 'designation': 'CEO', 'Credit_rating': 618, 'Gender': 'M', 'Marital_Sts': 'Divorced', 'Job_type': 'Business', 'Spouse_name': 'Alia', 'Child1_d_o_b': NaT, 'spouse_d_o_b': Timestamp('1978-08-30 00:00:00'), 'Date_of_birth': Timestamp('1980-08-30 00:00:00'), 'cust_id': 3951047982, 'Child1_name': nan, 'No_of_child': 0, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\x01m\xf2\x14aF\xfd\xb9\xce\x86L.\xf1\xe0\xb6/\x15\x9d\x86\xbb')) {'Child2_d_o_b': nan, 'SSN_NO': '62-62-2206', 'First_name': 'Valta', 'Last_name': 'GRAVES', 'designation': 'Neurologist', 'Credit_rating': 540, 'Gender': 'F', 'Marital_Sts': 'Married', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1950-01-05 00:00:00'), 'spouse_d_o_b': Timestamp('1990-07-24 00:00:00'), 'Date_of_birth': Timestamp('1988-07-24 00:00:00'), 'cust_id': 1340761503, 'Child1_name': 'Minnie', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\xbe\x906\x19<\x13C\x0c\x0e\x9f\xb1\x14<\xad^\xf6Xu~w')) {'Child2_d_o_b': nan, 'SSN_NO': '60-60-2863', 'First_name': 'Maggie', 'Last_name': 'CAMPBELL', 'designation': 'CEO', 'Credit_rating': 562, 'Gender': 'F', 'Marital_Sts': 'Widowed', 'Job_type': 'Business', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1950-01-03 00:00:00'), 'spouse_d_o_b': Timestamp('1985-02-19 00:00:00'), 'Date_of_birth': Timestamp('1983-02-19 00:00:00'), 'cust_id': 2071190194, 'Child1_name': 'Emma', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\xe2\x8ap\x12Y?\x86\xfc\xd0\xac\x0fz\xb6\xf5\xa2\x01\x08\xa7\xe8\xbe')) {'Child2_d_o_b': nan, 'SSN_NO': '76-76-2623', 'First_name': 'Carole', 'Last_name': 'ANDREWS', 'designation': 'Pediatrician', 'Credit_rating': 554, 'Gender': 'F', 'Marital_Sts': 'Married', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': NaT, 'spouse_d_o_b': Timestamp('1952-04-03 00:00:00'), 'Date_of_birth': Timestamp('1950-04-03 00:00:00'), 'cust_id': 1804203393, 'Child1_name': nan, 'No_of_child': 0, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'Y\xec\xd1\xfd\xbe\xc4{JH\xc7\x14\xb7bd\x9cZ\x97\x1de\x90')) {'Child2_d_o_b': nan, 'SSN_NO': '70-70-2091', 'First_name': 'Junuis', 'Last_name': 'WELCH', 'designation': 'CEO', 'Credit_rating': 536, 'Gender': 'M', 'Marital_Sts': 'Married', 'Job_type': 'Business', 'Spouse_name': 'Gloria', 'Child1_d_o_b': Timestamp('1950-03-02 00:00:00'), 'spouse_d_o_b': Timestamp('1957-01-23 00:00:00'), 'Date_of_birth': Timestamp('1959-01-23 00:00:00'), 'cust_id': 1213351171, 'Child1_name': 'Ellen', 'No_of_child': 2, 'Child2_name': 'Ellen'}
('dev', 's1bd', None, bytearray(b'\x9a\xf6\xf9\r\x17\x98\xde\xcc\x8e\x16\x03~\x88\xef\xb4\xfe|%Z\xdc')) {'Child2_d_o_b': nan, 'SSN_NO': '49-49-9640', 'First_name': 'Shamora', 'Last_name': 'BAIRD', 'designation': 'CEO', 'Credit_rating': 788, 'Gender': 'F', 'Marital_Sts': 'Separated', 'Job_type': 'Business', 'Spouse_name': nan, 'Child1_d_o_b': NaT, 'spouse_d_o_b': Timestamp('1967-06-15 00:00:00'), 'Date_of_birth': Timestamp('1965-06-15 00:00:00'), 'cust_id': 9601344591, 'Child1_name': nan, 'No_of_child': 0, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\x13\x05{%\x83\xe3pe3`Z\x9e\x85\xa1&\xec\xc9\x90Fg')) {'Child2_d_o_b': nan, 'SSN_NO': '90-90-7105', 'First_name': 'Robi', 'Last_name': 'HOOVER', 'designation': 'CFO', 'Credit_rating': 703, 'Gender': 'M', 'Marital_Sts': 'Widowed', 'Job_type': 'Professional', 'Spouse_name': 'Sabrina', 'Child1_d_o_b': NaT, 'spouse_d_o_b': Timestamp('1967-05-17 00:00:00'), 'Date_of_birth': Timestamp('1969-05-17 00:00:00'), 'cust_id': 6784656776, 'Child1_name': nan, 'No_of_child': 0, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\xa9SL\x97y\xd9E\xcd\x99,\x80\xb8`6\xa4\x80\xd5\xd9\x07\xe7')) {'Child2_d_o_b': nan, 'SSN_NO': '51-51-6796', 'First_name': 'Ellis', 'Last_name': 'MAXWELL', 'designation': 'CEO', 'Credit_rating': 693, 'Gender': 'M', 'Marital_Sts': 'Separated', 'Job_type': 'Business', 'Spouse_name': 'Raelynn', 'Child1_d_o_b': Timestamp('1950-02-17 00:00:00'), 'spouse_d_o_b': Timestamp('1983-10-26 00:00:00'), 'Date_of_birth': Timestamp('1985-10-26 00:00:00'), 'cust_id': 6441436193, 'Child1_name': 'Daisy', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\xd7\xf1\xb7\xdd\xbe3\x9f\x9c\xc1AN\xc3\x89\xad\xd3\xfe\x87yt\xc5')) {'Child2_d_o_b': nan, 'SSN_NO': '86-86-4923', 'First_name': 'Vernalee', 'Last_name': 'CRAIG', 'designation': 'Radiation Onconlogist', 'Credit_rating': 630, 'Gender': 'F', 'Marital_Sts': 'Divorced', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1950-03-07 00:00:00'), 'spouse_d_o_b': Timestamp('1994-06-29 00:00:00'), 'Date_of_birth': Timestamp('1992-06-29 00:00:00'), 'cust_id': 4359553162, 'Child1_name': 'Della', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b"\xb7\xe3\x8f!-Z\xc8\x10\'\x04\x8f\xf8\xf4t\xfb\xb6\x1c\xcd\x03?")) {'Child2_d_o_b': nan, 'SSN_NO': '49-49-9623', 'First_name': 'Erica', 'Last_name': 'BRUCE', 'designation': 'Cardiologist', 'Credit_rating': 787, 'Gender': 'F', 'Marital_Sts': 'Separated', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1950-03-13 00:00:00'), 'spouse_d_o_b': Timestamp('1954-11-21 00:00:00'), 'Date_of_birth': Timestamp('1952-11-21 00:00:00'), 'cust_id': 9582619573, 'Child1_name': 'Etta', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\xca\x96f?\xed\x81Q\xd8\xa2\x99\xf4@l&~\x0f\xbb\xea\x95;')) {'Child2_d_o_b': nan, 'SSN_NO': nan, 'First_name': 'Rainie', 'Last_name': 'GILBERT', 'designation': 'Anesthesiologist', 'Credit_rating': 738, 'Gender': 'F', 'Marital_Sts': 'Single', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('2006-11-21 00:00:00'), 'spouse_d_o_b': Timestamp('1979-11-21 00:00:00'), 'Date_of_birth': Timestamp('1977-11-21 00:00:00'), 'cust_id': 7945598145, 'Child1_name': 'Maud', 'No_of_child': 1, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b'\x9b\x08b2\x7f\xb0\x05\x10\x8f\x94V\x92)g\xb2\xfeXX\xc7\xdf')) {'Child2_d_o_b': nan, 'SSN_NO': '88-88-3875', 'First_name': 'Star', 'Last_name': 'STEELE', 'designation': 'CFO', 'Credit_rating': 595, 'Gender': 'F', 'Marital_Sts': 'Widowed', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1950-01-19 00:00:00'), 'spouse_d_o_b': Timestamp('1983-07-29 00:00:00'), 'Date_of_birth': Timestamp('1981-07-29 00:00:00'), 'cust_id': 3195715835, 'Child1_name': 'Grace', 'No_of_child': 2, 'Child2_name': 'Grace'}
('dev', 's1bd', None, bytearray(b'=*6\x89dS\x9c\xbe\xd3\x0cf\xf9\xb4t\x1e"\x1a\x0cY\x04')) {'Child2_d_o_b': nan, 'SSN_NO': '71-71-9754', 'First_name': 'Xochi', 'Last_name': 'SANCHEZ', 'designation': 'Professor', 'Credit_rating': 791, 'Gender': 'F', 'Marital_Sts': 'Divorced', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': NaT, 'spouse_d_o_b': Timestamp('1988-04-17 00:00:00'), 'Date_of_birth': Timestamp('1986-04-17 00:00:00'), 'cust_id': 9728648073, 'Child1_name': nan, 'No_of_child': 0, 'Child2_name': nan}
('dev', 's1bd', None, bytearray(b't\x97d\xcb\xbckU\xa7\x9d\xe8)\x9d\x82\xb1Q\xb0\xc9\xa0|q')) {'Child2_d_o_b': nan, 'SSN_NO': '63-63-2855', 'First_name': 'Cyra', 'Last_name': 'BAUTISTA', 'designation': 'Administrator', 'Credit_rating': 561, 'Gender': 'F', 'Marital_Sts': 'Single', 'Job_type': 'Professional', 'Spouse_name': nan, 'Child1_d_o_b': Timestamp('1983-09-07 00:00:00'), 'spouse_d_o_b': Timestamp('1956-09-07 00:00:00'), 'Date_of_birth': Timestamp('1954-09-07 00:00:00'), 'cust_id': 2061945712, 'Child1_name': 'Caroline', 'No_of_child': 2, 'Child2_name': 'Caroline'}